* {font-size: 17.5px;}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #FFE9E4;
  font-size: 14pt;
}
.App-link:hover {
  color: #FFE9E4;
}

.App-container {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 2px 2px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #b8798c;
  color: white;
}

.main-nav {
  background-color:#150d22 !important;
  font-size: large;
}

h1 {
  text-align: center;
}

p {
  font-size: 14pt;
}
