[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "~=0.57"
uvicorn = "*"
sqlalchemy = "*"
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
passlib = {extras = ["bcrypt"], version = "*"}
pydantic = "<=1.9.0,>=1.8.1"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
server = "python main.py"
